<!DOCTYPE html>
<html ng-app="Loop">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
     <link rel="stylesheet" href="lib/fullcalendar/dist/fullcalendar.css"/>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
      
    <!-- jquery, moment, and angular have to get included before fullcalendar -->
      <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="lib/moment/min/moment.min.js"></script>
      <script type="text/javascript" src="lib/angular/angular.min.js"></script>
      <script type="text/javascript" src="lib/angular-ui-calendar/src/calendar.js"></script>
      <script type="text/javascript" src="lib/fullcalendar/dist/fullcalendar.min.js"></script>
      <script type="text/javascript" src="lib/fullcalendar/dist/gcal.js"></script>
      <!-- jquery mousewheel plugin -->
      <script type="text/javascript" src="lib/jquery-mousewheel/jquery.mousewheel.js"></script>
      
      <!--Firebase -->
      <script src="lib/firebase/firebase.js"></script>
      
      <!-- AngularFire -->
      <script src="lib/angularfire/dist/angularfire.min.js"></script>
      
      <!-- checklist-model -->
      <!--<script src="lib/checklist-model/checklist-model.js"></script> -->
      
      <!-- your app's js -->
      <script src="js/app.js"></script>

  </head>
    
  <body>
      <ion-nav-view></ion-nav-view>
      
      <script type="text/ng-template" id="sign-in.html">
        <ion-view hide-nav-bar="true">
            <ion-content>
              <div class="list">
                <label class="item item-input">
                  <span class="input-label">Email</span>
                  <input type="email" placeholder="you@domain.com" ng-model="data.email">
                </label>
                <label class="item item-input">
                  <span class="input-label">Password</span>
                  <input type="password" placeholder="enter your secure password" ng-model="data.password">
                </label>
              </div>
              <div class="padding">
                <button class="button button-block button-positive" ng-click="signupEmail()">Sign-Up</button>
                  <button class="button button-block button-positive" ng-click="loginEmail()">Log-In</button>
                <p class="text-center">Forgot password</p>
              </div>
            </ion-content>  
        </ion-view>
      </script>
      
      <script type="text/ng-template" id="main.html">
        <ion-nav-bar class="bar-positive">
          <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i>
          </ion-nav-back-button>
        </ion-nav-bar>
        <ion-tabs class="tabs-positive tabs-icon-top">
          <ion-tab title="My Calendar" icon="tabs-icon-top ion-calendar" ui-sref="app.mycalendar">
            <ion-nav-view name="mycalendar"></ion-nav-view>
          </ion-tab>
            
          <ion-tab title="Loops" icon="ion-ios-loop-strong" ui-sref="app.loops">
            <ion-nav-view name="loops"></ion-nav-view>
          </ion-tab>
            
            <!-- ui-sref is a directive that binds a link to a state -->
            
          <ion-tab title="Follow" icon="ion-arrow-swap" ui-sref="app.help">
            <ion-nav-view name="help"></ion-nav-view>
          </ion-tab>
          
          <ion-tab title="Settings" icon="ion-gear-a" ui-sref="app.settings">
            <ion-nav-view name="settings"></ion-nav-view>
          </ion-tab>
        </ion-tabs>
      </script>
      
      <!-- script for Add Event popover form input in Loop -->
      <script type="text/ng-template" id="loop-popover.html">
        <ion-popover-view>
          <ion-header-bar>
              <h1 class="title">Add New Event</h1>
          </ion-header-bar>
            <ion-content>
             <form ng-submit="addEvent(eventName, eventDate, eventLocation)">
              <div class="list">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Event</span>
                  <input type="text" placeholder="Dinner Gathering" id="eventName" ng-model="eventName">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Date & Time</span>  
                  <input type="datetime-local" placeholder= "yyyy-MM-ddTHH:mm:ss" id="eventDate" ng-model="eventDate">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Location</span>  
                  <input type="text" placeholder="KLCC" id="eventLocation" ng-model="eventLocation">
                </label>
                <!--<label class="item item-input item-stacked-label">
                  <span class="input-label">Loop </span>
                  <input type="text" placeholder="Buddies">
                </label> -->
            <div class="item item-button center">
                <button class="button button-block button-outline button-positive">Add Event</button>
            </div>
            </div>
           </form>
          </ion-content>
        </ion-popover-view>
      </script>
      <!-- end of script for popover form -->
      
      <!-- script for Add Loop popover form input in Loops -->
      <script type="text/ng-template" id="loops-popover.html">
        <ion-popover-view>
          <ion-header-bar>
              <h1 class="title">Add New Loop</h1>
          </ion-header-bar>
            <ion-content>
                <form ng-submit="addLoop(newLoop)">
                <div class="list">
                  <label class="item item-input item-stacked-label">
                    <span class="input label">Name of Loop</span>
                      <input type="text"  placeholder="Buddies" ng-model="newLoop">
                  </label>
                </div>
                <div class="item item-button center">
                <button class="button button-block button-outline button-positive" type="submit">Create New Loop</button>
            </div>
            </form>
            </ion-content>
        </ion-popover-view>
      </script>
      <!-- end of script for popover form -->
      
      <!-- script for Filter popover form input in My Calendar -->
      <script type="text/ng-template" id="my-popover.html">
        <ion-popover-view>
          <ion-header-bar>
              <h1 class="title">Filter Events by Loop</h1>
          </ion-header-bar>
            <ion-content>
                <ion-checkbox ng-repeat="(key, loop) in loops" ng-model="loop.checked" ng-checked="loop.checked" ng-init="loop.checked=false" value={{key}} name="selectedLoops[]">{{loop.name}}
                <!--<ion-checkbox ng-repeat="(key, loop) in loops" data-checklist-model="selectedLoop.keys" data-checklist-value="key">{{loop.name}}-->
                </ion-checkbox>
                <!--<div class="item item-button center">
                    <button class="button button-block button-outline button-positive" type="submit" ng-click="isChecked()">
                    Filter</button>
                </div>-->
                <pre ng-bind="loops | json"></pre>
          </ion-content>
        </ion-popover-view>
      </script>
      <!-- end of script for popover form -->
      
      <script type="text/ng-template" id="mycalendar.html">
        <ion-view title="My Calendar">
            <ion-nav-buttons side="secondary">
            <button class="button button-clear ion-navicon-round" ng-click="popover.show($event)"></button>
                </ion-nav-buttons>
          <ion-content>
              <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
          </ion-content>  
        </ion-view>
      </script>

    <script type="text/ng-template" id="loops.html">
      <ion-view title="Loops">
          <ion-nav-buttons side="primary">
          <button class="button button-icon icon ion-ios-minus-outline" side="primary" ng-click="data.showDelete = !data.showDelete"></button>
          </ion-nav-buttons>
          <ion-nav-buttons side="secondary">
            <button class="button button-clear ion-plus" ng-click="popover.show($event)"></button>
          </ion-nav-buttons>
          <ion-content>
                <ion-list show-delete="data.showDelete">
                    <ion-item ng-repeat="(key, loop) in loops" class="item item-avatar" href="#/loops/{{key}}">
                    <span>{{ loop.name }}</span><br>
                        <!--<span>next event</span>-->
                    <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(key)"></ion-delete-button>
                    <ion-option-button class="button-positive">Edit</ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="showConfirm(key)">Delete</ion-option-button>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-view>
    </script>
      
      <script type="text/ng-template" id="loop.html">
            <ion-view hide-tab-bar>
              <ion-nav-title>{{title.join(", ")}}</ion-nav-title>
                <ion-nav-buttons side="secondary">
            <button class="button button-clear ion-person-add" ng-click=""></button>
                    <span></span>
                    <span></span>
            <button class="button button-clear ion-plus" ng-click="popover.show($event)"></button>
                </ion-nav-buttons>
            <ion-content>
                <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
                <!--Insert day view -->
                <ion-list class="list">
                    <div class="item item-divider">
                        {{todaysDate.join(", ")}}
                    </div>
                    <ion-item class="item" ng-repeat="event in eventsByDate">
                        <span>{{event.time}}</span>
                        <span>{{event.title}}</span>
                        <span>@ {{event.location}}</span>
                        <ion-option-button class="button-positive" ng-click="openModal(event, $index)">Edit</ion-option-button>
                        <ion-option-button class="button-assertive" ng-click="showConfirm(event, $index)">Delete</ion-option-button>
                    </ion-item>
                </ion-list>
            </ion-content>
          </ion-view>
      </script>

      <script type="text/ng-template" id="help.html">
  <ion-view title="Home">
    <ion-content padding="true">
       <h2>Using the app</h2>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis architecto hic officia quasi excepturi sequi deleniti maiores consectetur veritatis sint?</p>
    </ion-content>
  </ion-view>
</script>
      
      <script type="text/ng-template" id="settings.html">
        <ion-view title="Settings">
        <ion-content>
          <button class="button button-outline button-assertive" ng-click="logOut()">Sign-out</button>
        </ion-content>
        </ion-view>
      </script>
      
      <!-- script for edit modal in Loop view -->
      <script type="text/ng-template" id="edit-modal.html">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">Edit Event</h1>
                <button class="button" ng-click="closeModal()">X</button>
            </ion-header-bar>
            <ion-content>
                <!--contents of modal -->
                <form ng-submit="updateEvent(updateTitle, updateDateTime, updateLocation)">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Event Title</span>
                        <input type="text" placeholder="" ng-model="updateTitle">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Date & Time</span>
                        <input type="datetime-local" placeholder="" ng-model="updateDateTime">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Location</span>
                        <input type="text" placeholder="" ng-model="updateLocation">
                    </label>
                    <button class="button button-block button-positive" ng-click="closeModal()">Update</button>
                </div>
                </form>
            </ion-content>
        </ion-modal-view>
      </script>
      
    </body>
</html>
