<!DOCTYPE html>
<html ng-app="Loop">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
      <link rel="stylesheet" href="lib/fullcalendar/dist/fullcalendar.css">
      <link rel="stylesheet" href="lib/qtip2/jquery.qtip.min.css">

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
      
    <!-- jquery, moment, and angular have to get included before fullcalendar -->
      <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="lib/moment/min/moment.min.js"></script>
      <script type="text/javascript" src="lib/angular/angular.min.js"></script>
      <script type="text/javascript" src="lib/angular-ui-calendar/src/calendar.js"></script>
      <script type="text/javascript" src="lib/fullcalendar/dist/fullcalendar.min.js"></script>
      <script type="text/javascript" src="lib/fullcalendar/dist/gcal.js"></script>
      <script type="text/javascript" src="lib/jquery-ui/jquery-ui.min.js"></script>
      
      <!-- jquery mousewheel plugin -->
      <script type="text/javascript" src="lib/jquery-mousewheel/jquery.mousewheel.js"></script>
      
      <!-- jquery qtip plugin -->
      <script type="text/javascript" src="lib/qtip2/jquery.qtip.min.js"></script>
      
      <!--jquery ui-touch-->
      <script type="text/javascript" src="lib/jquery-ui-touch/jquery.ui.touch.js"></script>
      
      <!--jquery-ui-touch-punch
      <script src = "lib/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>-->
      
      <!-- ionic/angularjs js -->
      <script src="lib/ionic/js/ionic.bundle.js"></script>
      
      <!--Firebase -->
      <script src="lib/firebase/firebase.js"></script>
      
      <!-- AngularFire -->
      <script src="lib/angularfire/dist/angularfire.min.js"></script>
      
      <!-- checklist-model -->
      <script src="lib/checklist-model/checklist-model.js"></script>
      
      <!-- your app's js -->
      <script src="js/app.js"></script>

  </head>
    
  <body>
      <ion-nav-view></ion-nav-view>
      
      <script type="text/ng-template" id="sign-in.html">
        <ion-view hide-nav-bar="true">
            <ion-content scroll="false">
                <br>
                <br>
                <br>
              <div class="col text-center">
                <img src="img/Loop.jpeg" alt="">
              </div>
              <div class="list list-inset">
                <label class="item item-input item-floating-label">
                  <span class="input-label">Email</span>
                  <input type="email" placeholder="Email" ng-model="data.email">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Password</span>
                  <input type="password" placeholder="Password" ng-model="data.password">
                </label>
              </div>
              <div class="col text-center">
                  <button class="button button-block button-dark" ng-click="loginEmail()">Log-In </button><br>
                  <!--<button class="button button-large button-outline button-dark" ng-click="signupEmail()">Sign-Up</button>-->
                <a class="text-center" ui-sref="signup">Sign-up</a>
                <span>|</span>
                <a class="text-center" ui-sref="forgotpassword">Forgot password</a>
              </div>
            </ion-content>  
        </ion-view>
      </script>
      
      <script type="text/ng-template" id="signup.html">
        <ion-content>
            <div class="bar bar-header">
                <button class="button icon ion-ios-arrow-back" ui-sref="signin"></button>
                <h1 class="title">Get a Loop account</h1>
            </div>
            <br><br><br><br>
            <div class="padding">
                <div class="list list-inset">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="email" placeholder="Email" ng-model="signUp.email">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Password</span>
                        <input type="password" placeholder="Password" ng-model="signUp.password">
                    </label>
                </div>
                <button class="button button-block button-dark" ng-click="signupEmail()">Sign Up</button>
            </div>
        </ion-content>
      </script>
      
      <script type="text/ng-template" id="forgotpassword.html">
        <ion-content>
            <div class="bar bar-header">
                <button class="button icon ion-ios-arrow-back" ui-sref="signin"></button>
                <h1 class="title">Reset password</h1>
            </div>
            <br><br><br><br>
            <div class="padding">
                <div class="col text-center">Enter your email below and we will send you a link to reset the password to your account</div>
                <br>
                <div class="list list-inset">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="email" placeholder="Email" ng-model="forgotPassword.email">
                    </label>
                </div>
                <button class="button button-block button-dark" ng-click="retrievePassword(forgotPassword.email)">Submit</button>
            </div>
        </ion-content>
      </script>
      
      <script type="text/ng-template" id="main.html">
        <ion-nav-bar class="bar-dark">
          <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i>
          </ion-nav-back-button>
        </ion-nav-bar>
        <ion-tabs class="tabs-dark tabs-icon-top">
          <ion-tab title="My Calendar" icon="tabs-icon-top ion-calendar" ui-sref="app.mycalendar">
            <ion-nav-view name="mycalendar"></ion-nav-view>
          </ion-tab>
            
          <ion-tab title="Loops" icon="ion-ios-loop-strong" ui-sref="app.loops">
            <ion-nav-view name="loops"></ion-nav-view>
          </ion-tab>
            
            <!-- ui-sref is a directive that binds a link to a state -->
            
          <!--<ion-tab title="Link" icon="ion-link" ui-sref="app.link">
            <ion-nav-view name="link"></ion-nav-view>
          </ion-tab>-->
          
          <ion-tab title="Settings" icon="ion-gear-a" ui-sref="app.settings">
            <ion-nav-view name="settings"></ion-nav-view>
          </ion-tab>
        </ion-tabs>
      </script>
      
      <!-- script for Add Event popover form input in Loop -->
      <script type="text/ng-template" id="loop-popover.html">
        <ion-modal-view>
          <ion-header-bar>
              <h1 class="title">Add New Event</h1>
              <button class="button button-icon ion-close-circled" ng-click="closeAddEventModal()"></button>
          </ion-header-bar>
            <ion-content>
             <form name="addEventForm" ng-submit="addEvent(eventName, eventDate, eventLocation)">
              <div class="list">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Title</span>
                  <input type="text" id="eventName" ng-model="eventName" ng-required="true" ng-minlength="1">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Date & Time</span>
                  <input type="datetime-local" id="eventDate" ng-model="eventDate" ng-required="true">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Location</span> 
                  <input type="text" id="eventLocation" ng-model="eventLocation" ng-required="true" ng-minlength="1">
                </label>
                <div class="item item-button center">
                  <button class="button button-block button-dark" ng-disabled="addEventForm.$invalid" ng-click="closeAddEventModal()">Add Event</button>
                </div>
            </div>
           </form>
          </ion-content>
        </ion-modal-view>
      </script>
      <!-- end of script for popover form -->
      
      <!-- script for Add Loop popover form input in Loops -->
      <script type="text/ng-template" id="loops-popover.html">
        <ion-popover-view>
          <ion-header-bar>
              <h1 class="title">Add New Loop</h1>
          </ion-header-bar>
            <ion-content>
                <form name="addLoopForm" ng-submit="addLoop(newLoop)">
                <div class="list">
                  <label class="item item-input item-floating-label">
                    <span class="input-label">Name</span>
                      <input type="text" placeholder="Name" ng-model="newLoop" ng-minlength="1" ng-required="true">
                  </label>
                </div>
                <div class="item item-button center">
                <button class="button button-block button-outline button-dark" type="submit" ng-disabled="addLoopForm.$invalid">Create New Loop</button>
            </div>
            </form>
            </ion-content>
        </ion-popover-view>
      </script>
      <!-- end of script for popover form -->
      
      <!-- script for Loop Add User popover in Loops -->
      <script type="text/ng-template" id="users.html">
        <ion-popover-view>
            <ion-header-bar>
                <h1 class="title">Add Member</h1>
            </ion-header-bar>  
            <ion-content>
                <form name="userSearch" ng-submit="searchUser(email)">
                <div class="list">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="email" placeholder="Search Email" ng-model="email">
                        </label>
                        <button class="button button-small button-outline">
                            <i class="icon ion-ios-search placeholder-icon"></i>
                        </button>
                    </div>
                </div>
                </form>
                <!-- outcome of search -->
                <div class="list">
                    <li class="item item-button-right" ng-repeat="user in user">{{user.name}}
                        <button class="button button-outline" ng-click="addUserToFirebase(user.name, user.uid)">
                        <i class="ion-plus-circled" ></i>
                        </button>
                    </li>
                </div>
            </ion-content>
        </ion-popover-view>
      </script>
      
      <!-- script for Filter popover form input in My Calendar -->
      <script type="text/ng-template" id="my-popover.html">
        <ion-popover-view>
          <ion-header-bar>
              <h1 class="title">Hide Loop Events</h1>
          </ion-header-bar>
            <ion-content>
                <!--<ion-checkbox ng-repeat="(key,loop) in loops" ng-model="ids[key]" value="{{key}}" name="selectedLoops[]" ng-init="ids[key]=true">{{loop.name}}
                </ion-checkbox>
                <div>{{ids}}</div>-->
                <!--<ion-checkbox ng-repeat="(key, loop) in loops" name="selectedLoops[]" value="{{key}}" ng-click="toggleSelection(key)">{{loop.name}}
                </ion-checkbox>-->
                <!--<ion-checkbox ng-repeat="(key, loop) in loops" name="filter" data-type={{key}}>
                {{loop.name}}
                </ion-checkbox>-->
                <ion-checkbox class="checkbox-dark" ng-repeat="loop in filterLoops" name="uncheckedLoops[]" value="{{loop.key}}" ng-click="uncheck(loop.key)">{{loop.name}}
                </ion-checkbox>
                <!--<div class="item item-button center">
                    <button class="button button-block button-outline button-positive" type="submit" ng-click="isChecked()">
                    Filter</button>
                </div>-->
                <!--<pre ng-bind="loops | json"></pre>-->
          </ion-content>
        </ion-popover-view>
      </script>
      <!-- end of script for popover form -->
      
      <!-- script to add personal Event popover input in myCalendar -->
      <script type="text/ng-template" id="add-personal-event.html">
        <ion-modal-view>
          <ion-header-bar>
              <h1 class="title">Add Personal Event</h1>
              <button class="button button-icon ion-close-circled" ng-click="closeAddEventModal()"></button>
          </ion-header-bar>
            <ion-content>
              <form name="addPersonalEventForm" ng-submit="addPersonalEvent(name, date, location)">
                <div class="list">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Title</span>
                    <input type="text" id="eventName" ng-model="name" ng-required="true" ng-minlength="1">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Date & Time</span>
                    <input type="datetime-local" id="eventDate" ng-model="date" ng-required="true">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Location</span>
                    <input type="text" id="eventLocation" ng-model="location" ng-required="true" ng-minlength="1">
                  </label>
                  <div class="item item-button center">
                    <button class="button button-block button-dark" ng-disabled="addPersonalEventForm.$invalid" ng-click="closeAddEventModal()">Add Event</button>  
                  </div>
                </div>
              </form>
            </ion-content> 
        </ion-modal-view>
      </script>
      
      <!-- script to edit event in MyCalendar view -->
      <script type="text/ng-template" id="editEventMyCalendar.html">
        <ion-modal-view>
            <ion-header-bar>
              <h1 class="title">Edit Event</h1>
              <button class="button button-icon ion-close-circled" ng-click="closeModal()"></button>
            </ion-header-bar>
            <ion-content>
            <!--contents of modal -->
            <form ng-submit="editEvent(eventTitle, datetime, location)">
              <div class="list">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Title</span>
                  <input type="text" ng-model="eventTitle">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Date & Time</span>
                  <input type="datetime-local" ng-model="datetime">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Location</span>
                  <input type="text" ng-model="location">
                </label>
                <button class="button button-block button-dark" ng-click="closeModal()">Update</button>
              </div>
            </form>
            </ion-content>
        </ion-modal-view>
      </script>
      
      <script type="text/ng-template" id="mycalendar.html">
        <ion-view title="My Calendar">
            <ion-nav-buttons side="secondary">
                <button class="button button-clear ion-navicon-round" ng-click="popover.show($event)"></button>
                <span></span>
                <span></span>
                <span></span>
                <button class="button button-clear ion-plus" ng-click="openAddEventModal($event,$index)"></button>
            </ion-nav-buttons>
          <ion-content has-bouncing="false" scrollbar-y="false">
              <div data-tap-disabled="true" ui-calendar="uiConfig.calendar" calendar="myCalendar" ng-model="eventSources"></div>
              <!--Insert day view-->
              <ion-list class="list">
                <div class="item item-divider">{{todaysDate.join(", ")}}
                </div>
                <ion-item class="item item-text-wrap" style="font-size: 1em" ng-repeat="event in allEventsByDate">
                    <div>
                      <span>{{event.time}}</span>
                      <span>{{event.title}}</span>
                      <span>@ {{event.location}}</span>
                      <ion-option-button class="button-dark" ng-click="editEventModal(event, $index)">Edit</ion-option-button>
                      <ion-option-button class="button-assertive" ng-click="showConfirm(event, $index)">Delete</ion-option-button>
                    </div>
                </ion-item>
              </ion-list>
          </ion-content>  
        </ion-view>
      </script>

    <script type="text/ng-template" id="loops.html">
      <ion-view title="Loops">
          <ion-nav-buttons side="primary">
          <button class="button button-icon icon ion-ios-minus-outline" side="primary" ng-click="data.showDelete = !data.showDelete"></button>
          </ion-nav-buttons>
          <ion-nav-buttons side="secondary">
            <button class="button button-clear ion-plus" ng-click="popover.show($event)"></button>
          </ion-nav-buttons>
          <ion-content>
                <ion-list show-delete="data.showDelete">
                    <ion-item ng-repeat="loop in loops" class="item item-avatar" href="#/loops/{{loop.key}}">
                        <img src="img/Loop.jpeg">
                        <span>{{ loop.name }}</span><br>
                        <p class="exactFit">{{loop.start | date: 'dd-MMM'}}: {{loop.title}} </p>
                        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(loop.key)"></ion-delete-button>
                        <ion-option-button class="button-dark" ng-click="editPopup(loop.key)">Edit</ion-option-button>
                        <ion-option-button class="button-assertive" ng-click="showConfirm(loop.key)">Delete</ion-option-button>
                    </ion-item>
                    <ion-item class= "item item-text-wrap" ng-show="!loops.length" align="center" style="font-size: 1em">Hello there! Start a Loop with the plus button.</ion-item>
                </ion-list>
            </ion-content>
        </ion-view>
    </script>
      
      <!-- edit loop name popup -->
      <script type="text/ng-template" id="editPopup.template.html">
        <input ng-model="edit.name" type="text" placeholder="name">
      </script>
      <!-- end of popup -->
      
      <script type="text/ng-template" id="loop.html">
            <ion-view can-swipe-back="false">
              <ion-nav-title ng-click="openuserModal()">{{title.join(", ")}}</ion-nav-title>
                <ion-nav-buttons side="secondary">
                    <button class="button button-clear ion-person-add" ng-click="addUserPopup.show($event)"></button>
                    <span></span>
                    <span></span>
                    <span></span>
                    <button class="button button-clear ion-plus" ng-click="openAddEventModal($event,$index)"></button>
                </ion-nav-buttons>
            <ion-content has-bouncing="false" scrollbar-y="false">
                <div data-tap-disabled="true" scroll="false" class="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
                <!--Insert day view -->
                <ion-list class="list">
                    <div class="item item-divider">
                        {{todaysDate.join(", ")}}
                    </div>
                    <ion-item class="item item-text-wrap" style="font-size: 1em" ng-repeat="event in eventsByDate">
                        <span>{{event.time}}</span>
                        <span>{{event.title}}</span>
                        <span>@ {{event.location}}</span>
                        <ion-option-button class="button-dark" ng-click="openModal(event, $index)">Edit</ion-option-button>
                        <ion-option-button class="button-assertive" ng-click="showConfirm(event, $index)">Delete</ion-option-button>
                    </ion-item>
                </ion-list>
            </ion-content>
          </ion-view>
      </script>

      <script type="text/ng-template" id="link.html">
        <ion-view title="Link">
            <ion-content>
                <div class="list">
                    <a class="item item-thumbnail-left" href="#">
                        <img src="/img/Man_Utd.png"> <!--company logo-->
                        <h2>Manchester United</h2> <!--company name-->
                        <p>v West Bromwich Albion 6/3/2016</p> <!--next event-->
                    </a>
                </div>
            </ion-content>
        </ion-view>
      </script>
      
      <script type="text/ng-template" id="settings.html">
        <ion-view title="Settings">
        <ion-content>
            <div class="item item-divider"></div>
            <div class="list">
                <a class="item item-avatar">
                    <img src ="img/Loop.jpeg">
                    <h2>{{userName.join(", ")}}</h2>
                </a>
            <!--</div>-->
            <div class="item item-divider"></div>
            <!--<div class="list">-->
                <a class="item item-icon-left item-icon-right" ui-sref="app.settings.changepassword">
                    <i class="icon ion-lock-combination"></i>
                    Change Password
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
                <a class = "item item-icon-left" ng-click="logOut()">
                    <i class="icon ion-log-out"></i>
                    Log-out
                </a>
                <!--<button class="button button-full button-assertive" ng-click="logOut()">Sign-out</button>-->
            </div>
        </ion-content>
        </ion-view>
      </script>
      
      <script type="text/ng-template" id="changepassword.html">
        <ion-view>
            <ion-nav-title>Change Password</ion-nav-title>
            <ion-content>
                <div class="list">
                    <div class="item item-divider">
                    Your email
                    </div>
                    <div class="item">{{userEmail.join(", ")}}</div>
                    <div class="item item-divider"></div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Current password</span>
                        <input type="password" ng-model="existing.Password">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">New password</span>
                        <input type="password" ng-model="new.Password">
                    </label>
                    <button class="button button-block button-dark" ng-click="changePassword(existing.Password, new.Password)">Confirm</button>
                </div>
            </ion-content>
        </ion-view>
      </script>
      
      <!-- script for users modal in Loop view -->
      <script type="text/ng-template" id="users-modal.html">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-dark">
                <h1 class="title">Loop Information</h1>
                <button class="button button-icon ion-close-circled" ng-click="closeuserModal()"></button>
            </ion-header-bar>
            <ion-content>
                <ion-slide-box>
                    <ion-slide>
                        <div class="has-header">
                            <h4 class="title" align="center">Members</h4>
                        </div>
                        <!--<br><br>-->
                        <div>
                          <ul class="list">
                            <li class="item" style="font-size: 1em" ng-repeat="member in membersOfLoop">
                                {{member.name}}
                            </li>
                          </ul>
                        </div>
                        <br><br><br>
                    </ion-slide>
                    <ion-slide>
                        <div class="has-header">
                            <h4 class="title" align="center">Notifications</h4>
                        </div>
                        <!--<br><br>-->
                        <div>
                          <ul class="list">
                              <li class="item item-text-wrap" style="font-size: 1em" ng-repeat="notification in notifications | orderBy: '-$id'">
                                {{notification.$id | date: 'dd-MMM hh:mm a:'}} {{notification.$value}}
                              </li>
                          </ul>
                        </div>
                        <br><br><br>
                    </ion-slide>
                </ion-slide-box>
            </ion-content>
        </ion-modal-view>
      </script>
      
      <!-- script for edit modal in Loop view -->
      <script type="text/ng-template" id="edit-modal.html">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">Edit Event</h1>
                <button class="button button-icon ion-close-circled" ng-click="closeModal()"></button>
            </ion-header-bar>
            <ion-content>
                <!--contents of modal -->
                <form ng-submit="updateEvent(updateTitle, updateDateTime, updateLocation)">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Title</span>
                        <input type="text" ng-model="updateTitle">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Date & Time</span>
                        <input type="datetime-local" ng-model="updateDateTime">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Location</span>
                        <input type="text" ng-model="updateLocation">
                    </label>
                    <button class="button button-block button-dark" ng-click="closeModal()">Update</button>
                </div>
                </form>
            </ion-content>
        </ion-modal-view>
      </script>
      
    </body>
</html>
